<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Fila de Impressão</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/Trabalho.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="{{ url_for('static', filename='js/Trabalho.js') }}"
    type="module"
    ></script>
</head>

<body>
    <header>
        <h1>Gerenciamento de Impressão</h1>
        <button id="open_modal">Como funciona?</button>
    </header>
    
    <div id="modal_1" class="modal">
        <div class="modal_content">
            <span class="close_modal">&times;</span>
            <h2 class="modal_tittle">Como funciona?</h2>
            <div class="div_add">
                <button class="buttonAdd1" onclick=""> <i class="fas fa-plus"> </i> Adicionar à Fila</button>
                <span> Botão para adicionar arquivos na fila de impressão</span>
            </div>
            <div class="div_remove">
                <button class="buttonRemove1" onclick=""> <i class="fas fa-trash"></i> Remover da Fila</button>
                <span> Botão para remover arquivo da lista de impressão</span>
            </div>
            <div class="div_addFile">
                <button class="add_file" onclick="">Escolher arquivo</button>
                <span> Botão para adicionar os arquivos na lista de impressão</span>
            </div>
            <div class="div_select">
                <select name="cargos_sim" id="simulator">
                    <option value="presidente_sim">Presidente</option>
                    <option value="assessor_desenvolvedor_sim">Assesor/Desenvolvedor</option>
                    <option value="trainee_sim">Trainee</option>
                </select>
                <span>Seleção dos cargos da empresa, onde cada um possuí uma ordem de prioridade</span>
            </div>
            <h2>Ordem de prioridade dos cargos:</h2>
            <div class="priority_order">
                <h3>Presidente</h3>
                <span>Primeiro lugar na ordem de prioridade</span>
                <h3>Assessor/ Desenvolvedor</h3>
                <span>Segundo lugar na ordem de prioridade</span>
                <h3>Trainee</h3>
                <span>Terceiro lugar na ordem de prioridade</span>
                <h3>Observação</h3>
                <span>Esse gerenciador funciona adicionando apenas um arquivo por vez e definindo a ordem de prioridade para cada um</span>
            </div>
        </div>
    </div>

    <section>

        <div class="first_card">
            <h2>Adicionar à Fila</h2>
            <input type="text" id="fileInput">

            <h2>Qual seu cargo?</h2>
                <select name="cargos" id="cargos">
                    <option value="presidente">Presidente</option>
                    <option value="assessor_desenvolvedor">Assesor/Desenvolvedor</option>
                    <option value="trainee">Trainee</option>
                </select>

            <div class="buttons">  
                <button class="buttonAdd" onclick=""> <i class="fas fa-plus"> </i> Adicionar à Fila</button>
                <button class="buttonRemove" onclick=""> <i class="fas fa-trash"></i> Remover da Fila</button>
            </div>  

        </div>

        <div class="second_card">
            <h2>Fila de Impressão</h2>
            <div id="queueDisplay"></div>
        </div>
    </section>

    <footer>
        <h2 class="owners">Feito por: </h2>
        <span class="names">Jorge Lucas, Pedro Augusto e Vitor Ivan</span>
    </footer>
</body>
</html>